<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814426537976-f0vqj81hr5crs2droai4srrg4j98ual9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814426537976-f0vqj81hr5crs2droai4srrg4j98ual9</string>
	<key>API_KEY</key>
	<string>AIzaSyBDi1wefQaerqFYpW6g3yqa6tE3Hp7Q19c</string>
	<key>GCM_SENDER_ID</key>
	<string>814426537976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.betchya.stg</string>
	<key>PROJECT_ID</key>
	<string>betchya-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>betchya-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814426537976:ios:f36a726b1a3ca794d0600d</string>
</dict>
</plist>